bin/
build/
*.txt.user
/lib/*.lib
# begin cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
# end cmake

/build_vs
!/build_vs/lcx_learn